{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>{% block title%}404{% endblock %}</title>

<link rel="stylesheet" href="{% static 'css/404.css' %}">



    <ul  class="l-main-content main-content">
    <li class="l-section section section--is-active">
        <main class='error-container'>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>4</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <span class='particle'>0</span>
            <article class='content'>
              <p>Page Not Found!</p>
              <p style="font-size: 80px; font-weight: 900; text-decoration: line-through #8b0fff 6px;">404</p>
              <p>
                <a href="{% url 'core:home' %}">Go back to home</a>
              </p>
            </article>
          </main>
          
    
    </li>
    
    </ul>








      












 
{% endblock %}


