{% extends 'base.html' %}
{% load static %}
{% block content %}


<title>{% block title%}WebWaise | AboutUs{% endblock %}</title>

<nav class="l-side-nav">
    <ul class="side-nav">
      <li class="is-active"><span>About US</span></li>
      <!-- <li><span>Portfolio</span></li> -->
      <li><span>Privacy and Policy</span></li>
      <li><span>FAQ</span></li>
    </ul>
</nav>
<ul class="l-main-content main-content">

    <li class="aboutus l-section section section--is-active">
      <div class="about-section">
          <div class="inner-container">
              <h1>About Us</h1>
              <p class="about-text">
                Welcome to webwaise World!
                We have been working more than 5 years in this industry. We are providing professional development services for all purposes.
                In our past works, we maintained minimalism and simplicity of website to provide our customers unique designs to differ from their competitors. As a result, our clients not only gained trust among their clients, but also attracted even more customers to their businesses.
                We have a professional team consisting of full back end, front end & Ui/Ui designers working together for 5 years, which have a high level of chemistry and perfectly complement each other.
                In our process, we are trying to find a unique approach to every customer's goals and needs. Our steps and methods depend on the customer's main goals, but the one thing always stays the same - we create a design that reflects our customers' brands! At the end we always test and refine the design to ensure it meets their expectations.
                You can check reviews of our happy customers on our website!
              </p>
              <!-- <div class="skills">
                  <span>Web Design</span>
                  <span>Photoshop & Illustrator</span>
                  <span>Coding</span>
              </div> -->
          </div>
      </div>

    </li>
    <!-- <li  class="l-section  aboutus section">



      <div class="portf slide-faq-container">
        
        <div  class="slide-container">
          <h1 id="porth">Beyond Expectations With Premium Webdesign! </h1>
             <div class="slide3" pos="1">
              <div class="blog-card">
                <div class="meta">
                  <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
                  <ul class="details">
                    <li class="author">John Doe</li>
                    <li class="date">Aug. 24, 2015</li>
                    <li class="tags">
                      <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>DJANGO</li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="description">
                  <h1>Learning to Code</h1>
                  <h2>Opening a door to the future</h2>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
                  <p class="read-more">
                    <a class="gosite" href="#">Read More</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="slide3" pos="2" style="opacity:0">
              <div class="blog-card">
                <div class="meta">
                  <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
                  <ul class="details">
                    <li class="author"><a href="#">John Doe</a></li>
                    <li class="date">Aug. 24, 2015</li>
                    <li class="tags">
                      <ul>
                        <li><a href="#">Learn</a></li>
                        <li><a href="#">Code</a></li>
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="description">
                  <h1>Learning to Code</h1>
                  <h2>Opening a door to the future</h2>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
                  <p class="read-more">
                    <a href="#">Read More</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="slide3" pos="3" style="opacity:0">
               <h1>Slide 3</h1>
            </div>
          </div>
          <div class="slide-toggle-container">
            <p class="slide-toggle3" direction="prev">Previous</p>
            <p class="slide-toggle3" direction="next">Next</p>
          </div>
        </div>        
    </li> -->
    <li class="aboutus l-section section">
      <div class="slide-faq-container">
        <div class="slide-container">
            <div class="slide2" pos="1" >
            <h1>Privacy Policy: </h1>

            <p>At Webwaise, we take your privacy seriously. We are committed to protecting the personal information you share with us. Our privacy policy outlines the types of information we collect, how we use it, and how we protect it. By using our services, you agree to the terms of our privacy policy. 
              Information We Collect: We may collect personal information, such as your name, email address, and phone number, when you contact us or use our services. We may also collect non-personal information, such as your IP address, browser type, and device type. 
              How We Use Your Information: We use your personal information to provide you with our services, communicate with you about your project, and send you marketing communications. We may also use your information to improve our services and website, and to comply with legal requirements. 
              How We Protect Your Information: We take appropriate measures to protect your personal information from unauthorized access, disclosure, alteration, and destruction. We use industry-standard security measures to protect your information, and our employees are trained on the importance of data privacy and security.</p>
            
              
          </div>
          <div class="slide2" pos="2" style="opacity:0">
            <h1>Terms of Service:</h1>
            <p>By using our web design and development services, you agree to the following terms and conditions:<br>
      
              -You are responsible for providing accurate and complete information about your project requirements.<br> 
              
              -We reserve the right to decline any project that we feel is inappropriate or violates our policies.<br> 
              
              -We require an initial deposit payment before starting work on your project.<br> 
              
              -We retain ownership of all design and development work until the project is paid for in full.<br> 
              
              -We reserve the right to use your project as a portfolio item on our website and in our marketing materials.<br> 
              
              -We are not responsible for any losses or damage resulting from the use of our services.<br> 
              
              -We reserve the right to change our prices and policies at any time without notice.<br> </p>
          </div>
          <div class="slide2" pos="3" style="opacity:0">
              <h1>Refund Policy:</h1>
            <p>We want you to be completely satisfied with our web design and development services. If you're not happy with the results, we'll work with you to make it right. Here are our refund policies:<br> 
      
              -If you cancel your project before work has started, we'll refund your deposit in full.<br>
              
              -If you cancel your project after work has started but before completion, we'll refund your deposit minus any work already completed.<br>
              
              -If you're not satisfied with the final product, we'll work with you to make revisions. If you're still not satisfied, we'll refund a portion of your payment based on the amount of work completed. </p>
          </div>
        </div>
        <div class="slide-toggle-container">
          <p class="slide-toggle2" direction="prev">Previous</p>
          <p class="slide-toggle2" direction="next">Next</p>
        </div>
      </div>     
</li>
    <li  class="aboutus l-section section">
      
      
      <div class="slide-faq-container">
        <div class="slide-container">
          <div class="slide" pos="1">
            <div class="accordion">
              <div class="accordion-item">
                <div class="accordion-item-header">What is the process for ordering a custom web design and development service?</div>
                <div class="accordion-item-body">
                  <div class="accordion-item-body-content">
                    <b>Custom order:</b>To order a custom web design and development service, simply contact us through our website or email and provide us with your project requirements. Our team will work with you to understand your needs and provide you with a quote. If you decide to move forward with the project, we'll send you a contract and request an initial deposit payment. We'll then send you a brief questionnaire to better understand your requirements and preferences, and our team will get to work on creating your website.<br>
                    <b>Standard order order:</b>To order standard web design for blogs, portfolios and for basic needs, simply go to the “Packages” section and purchase a package that best fits your requirements and budget. After purchasing a package, our team will then send you a brief questionnaire to better understand your requirements and preferences, and our team will get to work on creating your website. 
                   </div>
                </div>
              </div>
              <div class="accordion-item">
                <div class="accordion-item-header">What is included in the cost of a custom web design and development service?</div>
                <div class="accordion-item-body">
                  <div class="accordion-item-body-content">
                    The cost of a custom web design and development service includes all agreed-upon design and development work, as well as any revisions or changes requested during the project. 
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <div class="accordion-item-header">
                  How much do you charge for a custom web design and development service?  
                </div>
                <div class="accordion-item-body">
                  <div class="accordion-item-body-content">
                    Our pricing varies depending on the scope and complexity of the project. Please contact us for a quote and we'll be happy to provide you with an estimate.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <div class="accordion-item-header">Do you require a deposit payment for custom web design?  </div>
                <div class="accordion-item-body">
                  <div class="accordion-item-body-content">
                    Yes, we require an initial deposit payment to start work on your project. The deposit amount is typically 20% of the total project cost. 
                  </div>
                </div>
              </div>
            </div>  
          </div>
          <div class="slide" pos="2" style="opacity:0">
            <div class="accordion">
              <div class="accordion-item">
                <div class="accordion-item-header">When do I pay the remaining balance? </div>
                <div class="accordion-item-body">
                  <div class="accordion-item-body-content">
                    The remaining balance is due upon completion of the project. We'll send you an invoice for the remaining balance, and once it's paid, we'll launch your website. 
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <div class="accordion-item-header">What if I'm not satisfied with the final product?  </div>
                <div class="accordion-item-body">
                  <div class="accordion-item-body-content">
                    We strive to ensure that all of our clients are completely satisfied with their final product. If you're not happy with the final result, please let us know and we'll work with you to make any necessary revisions or changes. 
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <div class="accordion-item-header">
                  What is your turnaround time for a custom web design and development service?  
                </div>
                <div class="accordion-item-body">
                  <div class="accordion-item-body-content">
                    Our turnaround time varies depending on the scope and complexity of the project. We'll provide you with an estimated timeframe when we provide you with a quote. 
                  </div>
                </div>
              </div>
            </div> 
          </div>
         
        </div>
        <div class="slide-toggle-container">
          <p class="slide-toggle" direction="prev">Previous</p>
          <p class="slide-toggle" direction="next">Next</p>
        </div>
      </div>

    </li>

</ul>

{% endblock %}
