{% extends 'base.html' %}
{% load static %}
{% block content %}

<title>{% block title%}WebWaise | Sigin{% endblock %}</title>



    <ul class="l-main-content main-content">
    <li class="center-content l-section section section--is-active">
      
            <div class="login-main">  	
            <input type="checkbox" id="chk" aria-hidden="true">

                <div class="signup">
                    <form action="{% url 'core:signin'%}" method="POST" onsubmit="return validateForm()">
                        {% csrf_token %}
                        <input type="text" name="signup" hidden id="">
                        <label class='signin-label' for="chk" aria-hidden="true">Sign up</label>
                        <div id="namediv" >
                            {{form.first_name}}
                            {{form.last_name}}
                        </div>
                        <div id="otherinput">

                            {{form.email}}
                            {{form.password}}
                            {{form.confirm_password}}
                        </div>
                        <button type="submit">Sign up</button>
                    </form>
                </div>
    
                <div class="login">
                    <form action="{% url 'core:signin'%}" method="POST">
                        {% csrf_token %}

                        <input type="text" name="signin" hidden id="">

                        <label class='signin-label' for="chk" aria-hidden="true">Login</label>
                        <input type="text" name="signin" hidden id="">
                        <input type="email" name="email" placeholder="Email" required="">
                        <input type="password" name="password" placeholder="Password" required="">
                        <button type="submit">Login</button>
                        <a id="social-auth-google" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.GET.next }}"><i style="margin-right: 10px;" class="fa-brands fa-google"></i> Login with Google</a>
                    </form>
                </div>
        </div>
    
    </li>
    
    </ul>








      












{% endblock %}


